USE [master]
GO
/****** Object:  Database [RegistroClase2Db]    Script Date: 21/1/2020 11:09:09 p.m. ******/
CREATE DATABASE [RegistroClase2Db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RegistroClase2Db', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\RegistroClase2Db.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RegistroClase2Db_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\RegistroClase2Db_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RegistroClase2Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RegistroClase2Db]
GO
/****** Object:  Table [dbo].[RegPersonas]    Script Date: 21/1/2020 11:09:09 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RegPersonas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NULL,
	[Telefono] [varchar](13) NULL,
	[Cedula] [varchar](13) NULL,
	[Direccion] [varchar](max) NULL,
	[FechaNac] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
